    /* ----------------------------------------------------max-width:1392px--------- */
    
    @media screen and (max-width:1392px) {
        /* --------------------------.header start */
        .header {
            width: 100%;
            min-height: 130px;
            padding-top: 25px;
            padding-right: 60px;
            padding-bottom: 25px;
            padding-left: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px !important;
            padding: 12px 24px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            position: relative;
        }
    }
    /* --------------------------.header end */
    /* ----------------------------------------------------- max-width:1258px-------*/
    
    @media screen and (max-width:1258px) {}
    /* ----------------------------------------------------- max-width:1108px-------*/
    
    @media screen and (max-width:1108px) {
        /* --------------------------.header start */
        .burger {
            display: flex !important;
        }
        .chef-image {
            display: none;
        }
        #mainNav {
            display: none;
        }
        .hero-image {
            display: none;
        }
        #city-popup {
            width: 327px;
            height: 135px;
            border-radius: 30px;
            display: none;
            position: absolute;
            top: 110px;
            margin-left: 50%;
            transform: translateX(-50%);
            background: var(--White, #FFFFFF);
            border-radius: 20px;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
            padding: 25px;
            width: 300px;
            text-align: center;
            z-index: 999;
        }
        .heroBlock {
            /* max-width: 1138px; */
            width: 100%;
            min-height: 368px;
            display: flex;
            justify-content: space-evenly !important;
            align-items: center;
            background: #7d5fff;
            border-radius: 30px;
            color: white;
        }
    }
    /* ----------------------------------------------------- max-width:842px-------*/
    
    @media screen and (max-width: 842px) {
        .heroBlock {
            display: none !important;
        }
        .heroBefore {
            height: 570px !important;
            display: flex !important;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }
        main {
            margin-top: 3px !important;
        }
        .slider-section {
            margin-top: 389px;
        }
        .popular-headerr {
            display: none !important;
        }
        .popular-headerrAfter {
            display: flex !important;
        }
        .popular-headerrAfter h2 {
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--Black, #1E1C2F);
        }
        a.slider-btn1 {
            display: flex !important;
            align-items: center;
            justify-content: center;
            max-width: 335px;
            width: 100%;
            min-height: 48.30119323730469px;
            border-radius: 15.54px;
            gap: 5.8px;
            padding-top: 9.71px;
            padding-right: 13.6px;
            padding-bottom: 9.71px;
            padding-left: 13.6px;
            background: var(--Gray-1, #F3F2FF);
            text-decoration: underline;
        }
        .top-places {
            max-width: 375px;
            width: 100%;
            min-height: 760.3012084960938px;
            gap: 24px;
            padding-top: 60px;
            padding-right: 20px;
            padding-bottom: 60px;
            padding-left: 20px;
            background: var(--Gray-1, #F3F2FF);
            margin-top: 20px !important;
        }
        .swiper-slide {
            background: var(--Gray-1, #F3F2FF) !important;
        }
        .slider-section {
            margin-top: 150px !important;
        }
        .slider-btn2 {
            width: 335px;
            height: 48.30119323730469px;
            border-radius: 15.54px;
            gap: 5.8px;
            padding-top: 9.71px;
            padding-right: 13.6px;
            padding-bottom: 9.71px;
            padding-left: 13.6px;
            background: var(--White, #FFFFFF);
            font-weight: 600;
            font-size: 13.52px;
            line-height: 100%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 0%;
            text-decoration-skip-ink: auto;
            color: #6F64FE;
            text-align: center;
        }
    }
    /* ----------------------------------------------------- max-width:778px-------*/
    
    @media screen and (max-width: 778px) {
        .navtree {
            display: flex !important;
            max-width: 335px;
            width: 100%;
            min-height: 120px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;
            padding-inline: 20px;
        }
        .burger img {
            display: flex !important;
            width: 36px;
            height: 36px;
            transition: all 0.3s ease;
        }
        #sideMenu {
            display: flex !important;
        }
        .side-menu nav {
            width: 100%;
            height: 280px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            gap: 16px;
            padding-inline: 20px;
        }
        /* --------------------------.header start */
        .burger {
            display: flex !important;
        }
        .city {
            display: none;
        }
        .favorite {
            display: none !important;
        }
        body {
            padding-inline: 15px !important;
        }
        /* ------------top places */
        .popular-header2 {
            display: none !important;
        }
        .popular-header2After {
            width: 314px;
            height: 58px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--Black, #1E1C2F);
        }
        .popular-header2After h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--Black, #1E1C2F);
        }
    }
    
    @media screen and (max-width: 395px) {
        main {
            margin-top: 3px !important;
        }
        .side-menu {
            max-width: 395px;
            width: 100%;
            height: 558px;
            position: fixed;
            top: -100%;
            left: 0;
            background: #FFFFFF;
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
            z-index: 1001;
            display: flex;
            flex-direction: column;
            transition: top 0.3s ease-in-out;
            padding: 8px 1px;
            display: flex;
            gap: 20px;
            /* margin-top: 72px; */
        }
        .searchbarAfter2 {
            max-width: 390px;
            width: 100%;
            min-height: 202px;
            justify-content: space-between;
            border-radius: 29px;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 40px;
            padding-left: 20px;
            background: #6F64FE;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            margin-top: 120px;
        }
    }
    /* ----------------------------------------------------- max-width:376px-------*/
    
    @media screen and (max-width: 376px) {
        body {
            padding-inline: 2px !important;
        }
        /* --------------------------.header start */
        .header {
            min-height: 60px !important;
        }
        .burger {
            display: block;
        }
        nav#mainNav {
            display: none;
        }
        .header {
            flex-direction: row;
            justify-content: space-between;
        }
        .logo-city,
        .user-section {
            gap: 12px;
        }
        .logo img {
            width: 128.28204345703125px;
            height: 33.1324462890625px;
            gap: 26.1px;
        }
        .profile img {
            width: 37.9999885559082px;
            height: 36.7741813659668px;
        }
        .profile span {
            display: none !important;
        }
        .swiper-wrapper {
            overflow-x: hidden;
            width: 100%;
            flex-wrap: nowrap;
        }
        .swiper-slide {
            min-width: 100% !important;
            flex-shrink: 0;
        }
        .swiper {
            overflow: hidden;
            width: 100%;
        }
        .card-listTwoo {
            gap: 12px;
        }
        .column-header h3 {
            font-size: 20px;
        }
        .card h4 {
            font-size: 16px;
        }
        .view-top {
            font-size: 14px;
        }
        .popular-header2 {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }
        .popular-header2 h2 {
            font-size: 18px;
            text-align: left;
        }
        .howLink {
            align-self: flex-start;
        }
        .top-places {
            max-width: 370px !important;
            min-height: 760.3012084960938px;
            gap: 24px;
            padding-top: 60px;
            padding-right: 20px;
            padding-bottom: 60px;
            padding-left: 20px;
            background: var(--Gray-1, #F3F2FF);
            margin-top: 20px !important;
        }
        .swiper-slide {
            background: var(--Gray-1, #F3F2FF) !important;
        }
        .slider-section {
            margin-top: 150px !important;
        }
        /* ---------------------------------------------------gastro */
        .gastroBox {
            display: none !important;
        }
        .gastroBoxAfter {
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            margin-top: 60px;
        }
        .gastroBoxAfter span {
            font-weight: 500;
            font-size: 26px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
            color: #6F64FE;
        }
        .gastroBoxAfter h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            color: var(--Black, #1E1C2F);
        }
        .gastroBoxAfter p {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
            color: var(--Black, #1E1C2F);
        }
        .gastroteam-grid {
            margin-top: 20px !important;
        }
        .gastroteam-item {
            width: 335px;
            height: 323px;
            border-radius: 20px;
            padding: 20px;
        }
        .image-grid {
            display: none !important;
        }
        .eat-content {
            display: none !important;
        }
        .footer-cta {
            margin-left: 0 !important;
        }
    }
    
    @media screen and (max-width:350px) {
        /* --------------------------.header start */
        .header {
            width: 100%;
            min-height: 55px !important;
            padding-top: 25px;
            padding-right: 60px;
            padding-bottom: 25px;
            padding-left: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px !important;
            padding: 12px 24px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            position: relative;
        }
        .side-menu {
            max-width: 350px;
            width: 100%;
            height: 558px;
            position: fixed;
            top: -100%;
            left: 0;
            background: #FFFFFF;
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
            z-index: 1001;
            display: flex;
            flex-direction: column;
            transition: top 0.3s ease-in-out;
            padding: 8px 1px;
            display: flex;
            gap: 20px;
            /* margin-top: 72px; */
        }
    }